@font-face {
  font-family: "ming";
  src: url("./assets/fonts/ming-in-bling/ming-in-bling.ttf");
  font-style: normal;
}

@font-face {
  font-family: "anti";
  src: url("./assets/fonts/antipasto/Antipasto-Pro-Regular-trial.ttf");
  font-style: normal;
}

body {
  font-family: Arial;
  background-color: #d4e0f0;
}

.b-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 220px;
}

.b-header__title {
  text-align: center;
  font-family: "ming";
  font-size: 100px;
  color: #222c3a;
  text-decoration: none;
  margin: 50px 50px;
}

.b-header__title:hover {
  font-size: 110px;
  color: #587194;
}

.b-gameConfig {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.b-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 1024px;
  padding: 50px;
}

.b-form fieldset {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-form legend {
  display: none;
}

.b-form__label {
  text-align: center;
  font-family: "anti";
  letter-spacing: 1px;
  color: #3b4b62;
  font-size: 24px;
  font-weight: bold;
}

.b-form__underLabel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 12px;
  max-width: 300px;
  text-align: justify;
  color: #5f5f5f;
}

.b-form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 200px;
  margin-bottom: 30px;
  color: #3b4b62;
}

.b-board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 50px;
}

.b-board__counters {
  color: #3b4b62;
  width: 100%;
  max-width: 1024px;
  margin: 50px 50px 0px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.b-board__h2 {
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
}

.b-board__h2--time {
  width: 120px;
}

.b-board__board {
  background-image: url("./assets/images/question1.jpg");
  background-position: right;
  background-size: cover;
  background-color: #3b4b62;
  -webkit-box-shadow: 0px 4px 4px black;
          box-shadow: 0px 4px 4px black;
  border-radius: 30px;
  width: 100%;
  max-width: 1024px;
  min-height: 400px;
  margin: 0 50px 50px 50px;
  color: #d4e0f0;
}

.b-board__category {
  font-size: 18px;
  margin-left: 25px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.b-board__quest {
  font-size: 24px;
  font-weight: normal;
  color: #f7f7a2;
  margin: 30px 0 0 25px;
  width: 50%;
}

.b-board__options {
  font-size: 20px;
  font-weight: normal;
  color: whitesmoke;
  margin: 30px 0 0 25px;
  width: 50%;
}

.b-board__option {
  margin-bottom: 10px;
}

.b-board__option--correct {
  color: #b2da78;
}

.b-board__option--incorrect {
  color: #ff6e6e;
}

.b-board__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.b-board__score {
  font-size: 24px;
  color: #3b4b62;
  margin-top: 50px;
  border: solid 1px #3b4b62;
  border-radius: 8px;
  letter-spacing: 1px;
  text-align: center;
  width: 150px;
  padding: 10px;
}

.b-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3b4b62;
  font-size: 20px;
  font-family: "anti";
  border: solid 1px #3b4b62;
  border-radius: 8px;
  background-color: #d4e0f0;
  max-width: 150px;
  height: 40px;
}

.b-button--start {
  margin-top: 30px;
}

.b-button--start:hover {
  border: dashed 2px #3b4b62;
}

.b-button--answer {
  width: 80px;
  background-color: #3b4b62;
  color: whitesmoke;
}

.b-button--answer:hover {
  background-color: #678bbe;
}

.hide-element {
  display: none;
}

.border {
  border: solid 1px red;
}
/*# sourceMappingURL=style.css.map */